exportPattern("^[[:alpha:]]+")
import(doParallel, forecast, foreach, gplots, graphics, grDevices, iterators, MSwM, parallel, png, utils, xts, zoo)
importFrom(stats,lm)
importFrom(stats,lag)
importFrom(stats,var)
S3method(plot,dma)
S3method(plot,grid.dma)
S3method(print,dma)
S3method(print,grid.dma)
S3method(summary,dma)
S3method(summary,grid.dma) 