useDynLib(fDMA, .registration = TRUE)
export("altf","altf2","altf3","altf4","archtest","descstat","dmtest","fDMA","gNormalize","grid.DMA","grid.roll.reg","grid.tvp","hit.ratio","hmdmtest","mdmtest","normalize","onevar","rec.reg","roll.reg","standardize","stest","tvp")
import(doParallel, forecast, foreach, gplots, graphics, grDevices, iterators, MSwM, parallel, png, Rcpp, utils, xts, zoo)
importFrom(psych,describe)
importFrom(stats,sd)
importFrom(stats,lm)
importFrom(stats,lag)
importFrom(stats,var)
importFrom(stats,AIC)
importFrom(stats,BIC)
importFrom(stats,pnorm)
importFrom(stats,pt)
importFrom(stats,pchisq)
importFrom(stats,na.exclude)
importFrom(tseries,adf.test)
importFrom(tseries,pp.test)
importFrom(tseries,kpss.test)
S3method(plot,dma)
S3method(plot,grid.dma)
S3method(plot,reg)
S3method(plot,tvp)
S3method(plot,grid.tvp)
S3method(plot,grid.roll.reg)
S3method(plot,altf)
S3method(plot,altf2)
S3method(plot,altf3)
S3method(plot,altf4)
S3method(print,dma)
S3method(print,grid.dma)
S3method(print,reg)
S3method(print,tvp)
S3method(print,grid.tvp)
S3method(print,grid.roll.reg)
S3method(print,altf)
S3method(print,altf2)
S3method(print,altf3)
S3method(print,altf4)
S3method(summary,dma)
S3method(summary,grid.dma) 
S3method(summary,reg) 
S3method(summary,tvp) 
S3method(summary,grid.tvp) 
S3method(summary,grid.roll.reg) 
S3method(summary,altf)
S3method(summary,altf2)
S3method(summary,altf3)
S3method(summary,altf4)